html {
  height: 100%;
  width: 100%;
}
ul {
  color:blue;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dddddd;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 15px;
  color: blue ;
  
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}
input[type=submit]:hover {
  background-color: #45a049;
  font-weight: bold;
  
}
body{
 background-color:pink;
  
}

#butcol{
  border:2px  ;
  background-color: palevioletred;
  text-align: center;
  color:white;
  padding:13px;
  cursor: pointer;
  
}
